<section class="newsletter-box inner">
    <h2 class="newsletter-box-title">{{ site.name }} 의 최신 소식을 받아보세요.</h2>
    <p>특별한 정보와 최신 트렌드는 뉴스레터로 발송됩니다.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="{{ site.mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
            class="validate gh-subscribe-form" target="_blank" novalidate>
            <label for="mce-EMAIL" class="screen-reader-text">Email Address</label>
            <input type="email" value="" name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="이메일을 입력해주세요.">
            <input type="submit" value="구독" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
    </div>
    <!--End mc_embed_signup-->
</section><!-- .widget -->
